PORT=5000
MONGO_URI=mongodb://24211a0513_db_user:k2vH4r92aEycKbbH@ac-w6dmvsc-shard-00-00.nq9bkng.mongodb.net:27017,ac-w6dmvsc-shard-00-01.nq9bkng.mongodb.net:27017,ac-w6dmvsc-shard-00-02.nq9bkng.mongodb.net:27017/?ssl=true&replicaSet=atlas-rvyidv-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=sunny_socialapp_jwt_secret_2026
CLOUDINARY_CLOUD_NAME=dwguikvjl
CLOUDINARY_API_KEY=839753444195842
CLOUDINARY_API_SECRET=cVGGnl64COZMQJ3lh2dwI-9u1xQ